name: rest-graphql-benchmark

on:
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --categories=dev-packages --system 

    - name: Linting
      run: |
        isort . --check
        black . --check
        flake8 .

    # - name: Test with pytest
    #   run: |
    #     pytest
